<h1>Room Facility Category</h1>

<p>
  <strong>Name:</strong>
  <%= @room_facility_category.name %>
</p>

<%= link_to 'Edit', edit_room_facility_category_path(@room_facility_category) %> |
<%= link_to 'Back', room_facility_categories_path %>
