        <td><%= @client.name %></td>
        <td><%= link_to 'Show', client_path(@client), class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_client_path(@client),data: { remote: true }, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', client_path(@client), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%></td>
