<h1> Listing clients</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="client-table">
    <% @clients.each do |client| %>
      <%= render 'client', client: client %>
    <% end %>
  </tbody>
</table>

<br>
<!-- Button trigger modal -->
<button type="button", class="btn btn-primary", data-bs-toggle="modal", data-bs-target="#newModal">
  Add New Client
</button>
<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new Client</h5>
        <button type="button" id= "closeNewForm" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="errors"></div>
        <%= render 'newform' %>
      </div>
    </div>
  </div>

<script>
  $(document).on('change', '#region', function getLocations() {
      var selectedRegions = $(this).val();
      $.ajax({
        url: "/locations_by_region",
        method: "GET",
        data: { regions: selectedRegions },
        success: function(data) {
          $("#location_ids").html(data);
        }
      });
    });
</script>
</div> 




<div id = "form-container">
