<table class= "table" id="client_table">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Hotels</th>
      <th>Rooms</th>
    </tr>
  </thead>
  <tbody id="client_table" >
      <%= render 'client_show' %>
  </tbody>
</table>
